<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <style>
        .container {
            text-align: center;
        }

        .title {
            font-size: 24px;
            margin-bottom: 20px;
        }

        .buttons {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
        }

        .button {
            padding: 10px 20px;
            background-color: #ECECEC;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 class="title">CS209-面向StackOverflow的统计数据</h1>
    <div class="buttons">
        <button class="button" th:text="${button1Text}" th:onclick="'location = \'' + @{${button1Action}} + '\';'">1</button>
        <button class="button" th:text="${button2Text}" th:onclick="'location = \'' + @{${button2Action}} + '\';'">2</button>
        <button class="button" th:text="${button3Text}" th:onclick="'location = \'' + @{${button3Action}} + '\';'">3</button>
        <button class="button" th:text="${button4Text}" th:onclick="'location = \'' + @{${button4Action}} + '\';'">4</button>
        <button class="button" th:text="${button5Text}" th:onclick="'location = \'' + @{${button5Action}} + '\';'">5</button>
    </div>
</div>
</body>
</html>