<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tags</title>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.0/dist/echarts.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts-wordcloud@2/dist/echarts-wordcloud.min.js"></script>
</head>
<body>
<h1>Tags相关</h1>
<div style="text-align: center;">
    <div id="wordcloud" style="width: 800px; height: 600px; margin: 0 auto;"></div>
</div>

<div style="text-align: center;">
    <div id="bar1" style="width: 500px; height: 500px; display: inline-block;"></div>
    <div id="bar2" style="width: 600px; height: 500px; display: inline-block;"></div>
</div>

<div style="text-align: center;">
    <div id="bar3" style="width: 500px; height: 500px; display: inline-block;"></div>
    <div id="bar4" style="width: 600px; height: 500px; display: inline-block;"></div>
</div>


<!--<div style="text-align: center;">-->
<!--    <div id="pie" style="width: 600px; height: 400px; margin: 0 auto;"></div>-->
<!--</div>-->

<div style="text-align: center; margin-top: 20px;">
    <button onclick="goBack()" style="display: block; margin: 0 auto;">返回</button>
</div>

<script th:inline="javascript">
    // 词云数据
    var wordcloudData = /*[[${wordcloudData}]]*/ [];

    // 柱状图数据
    var barDatax1 = /*[[${barDatax1}]]*/ [];
    var barDatay1 = /*[[${barDatay1}]]*/ [];
    var barDatax2 = /*[[${barDatax2}]]*/ [];
    var barDatay2 = /*[[${barDatay2}]]*/ [];
    var barDatax3 = /*[[${barDatax3}]]*/ [];
    var barDatay3 = /*[[${barDatay3}]]*/ [];
    var barDatax4 = /*[[${barDatax4}]]*/ [];
    var barDatay4 = /*[[${barDatay4}]]*/ [];
    // 饼图数据
    var pieData = /*[[${pieData}]]*/ [];

    // 词云配置
    var data = /*[[${tagMap}]]*/ [];  // Assuming you pass the word cloud data from Java as "wordCloudData"
    //var data =[]
    // Prepare the word cloud options
    var wordcloudOption = {
        title: {
            text: '最频繁出现伴随java的tag',
            textStyle: {
                fontStyle: 'oblique',
                left: 'center',
                fontSize: 20,
                color: '#4cc9f0'
            },
            left: 'center'
        },
        tooltip: {},
        series: [{
            type: 'wordCloud',
            sizeRange: [12, 55],
            rotationRange: [-45,45],
            shape: 'square',
            //maskImage: maskImage,
            width: '80%',
            height: '80%',
            textStyle: {
                fontWeight: 'bold',
                color: function () {
                    return 'rgb(' + [
                        Math.round(Math.random() * 160),
                        Math.round(Math.random() * 160),
                        Math.round(Math.random() * 160)
                    ].join(',') + ')';
                }
            },
            emphasis: {
                textStyle: {
                    shadowBlur: 15,
                    shadowColor: '#333'
                }
            },
            data: wordcloudData,
        }]
    };

    // 柱状图配置
    var barOption1 = {
        title: {
            left: 'center',
            text: 'Upvote最高的tag'
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'shadow'
            }
        },
        legend: {},
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            type: 'value',
            boundaryGap: [0, 0.01]
        },
        yAxis: {
            type: 'category',
            inverse: true,
            data: barDatax1
        },
        series: [{
            type: 'bar',
            data: barDatay1
        }]

    };

    var barOption2 = {
        title: {
            left: 'center',
            text: 'Upvote最高的tag组合'
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'shadow'
            }
        },
        legend: {},
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            type: 'value',
            boundaryGap: [0, 0.01]
        },
        yAxis: {
            type: 'category',
            inverse: true,
            data: barDatax2
        },
        series: [{
            type: 'bar',
            data: barDatay2
        }]

    };

    var barOption3 = {
        title: {
            left: 'center',
            text: 'View最高的tag'
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'shadow'
            }
        },
        legend: {},
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            type: 'value',
            boundaryGap: [0, 0.01]
        },
        yAxis: {
            type: 'category',
            inverse: true,
            data: barDatax3
        },
        series: [{
            type: 'bar',
            data: barDatay3
        }]

    };

    var barOption4 = {
        title: {
            left: 'center',
            text: 'View最高的tag组合'
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'shadow'
            }
        },
        legend: {},
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            type: 'value',
            boundaryGap: [0, 0.01]
        },
        yAxis: {
            type: 'category',
            inverse: true,
            data: barDatax4
        },
        series: [{
            type: 'bar',
            data: barDatay4
        }]

    };

    // 饼图配置
    // var pieOption = {
    //     // 配置项...
    //     series: [{
    //         type: 'pie',
    //         data: pieData
    //     }]
    // };

    // 创建图表实例
    var wordcloudChart = echarts.init(document.getElementById('wordcloud'));
    var barChart1 = echarts.init(document.getElementById('bar1'));
    var barChart2 = echarts.init(document.getElementById('bar2'));
    var barChart3 = echarts.init(document.getElementById('bar3'));
    var barChart4 = echarts.init(document.getElementById('bar4'));
    //var pieChart = echarts.init(document.getElementById('pie'));

    // 渲染图表
    wordcloudChart.setOption(wordcloudOption);
    barChart1.setOption(barOption1);
    barChart2.setOption(barOption2);
    barChart3.setOption(barOption3);
    barChart4.setOption(barOption4);
    //pieChart.setOption(pieOption);

    // 返回按钮点击事件处理函数
    function goBack() {
        window.history.back();
    }
</script>
</body>
</html>